<script type="text/javascript" charset="utf-8">
  document.addEventListener('DOMContentLoaded', function () {
    var menuCapture = document.getElementById("navhidden").innerHTML;
    document.getElementById("nav").innerHTML = document.getElementById("navhidden").innerHTML;
  });
</script>


<link rel="stylesheet" href="http://cdn2.editmysite.com/css/sites.css?buildTime=1425493634" type="text/css" /><link rel='stylesheet' type='text/css' href='http://cdn1.editmysite.com/editor/libraries/fancybox/fancybox.css?1425493634' />
<link rel='stylesheet' type='text/css' href='assets/stylesheets/weebly/main_style1689.css?1425630562' title='wsite-theme-css' />
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,200,200italic,700,400italic,700italic&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<style type='text/css'>
.wsite-elements.wsite-not-footer div.paragraph, .wsite-elements.wsite-not-footer p, .wsite-elements.wsite-not-footer .product-block .product-title, .wsite-elements.wsite-not-footer .product-description, .wsite-elements.wsite-not-footer .wsite-form-field label, .wsite-elements.wsite-not-footer .wsite-form-field label, #wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
#wsite-content div.paragraph, #wsite-content p, #wsite-content .product-block .product-title, #wsite-content .product-description, #wsite-content .wsite-form-field label, #wsite-content .wsite-form-field label, .blog-sidebar div.paragraph, .blog-sidebar p, .blog-sidebar .wsite-form-field label, .blog-sidebar .wsite-form-field label {}
.wsite-elements.wsite-footer div.paragraph, .wsite-elements.wsite-footer p, .wsite-elements.wsite-footer .product-block .product-title, .wsite-elements.wsite-footer .product-description, .wsite-elements.wsite-footer .wsite-form-field label, .wsite-elements.wsite-footer .wsite-form-field label{}
.wsite-elements.wsite-not-footer h2, .wsite-elements.wsite-not-footer .product-long .product-title, .wsite-elements.wsite-not-footer .product-large .product-title, .wsite-elements.wsite-not-footer .product-small .product-title, #wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
#wsite-content h2, #wsite-content .product-long .product-title, #wsite-content .product-large .product-title, #wsite-content .product-small .product-title, .blog-sidebar h2 {}
.wsite-elements.wsite-footer h2, .wsite-elements.wsite-footer .product-long .product-title, .wsite-elements.wsite-footer .product-large .product-title, .wsite-elements.wsite-footer .product-small .product-title{}
#wsite-title {}
.wsite-menu-default a {}
.wsite-menu a {}
.wsite-image div, .wsite-caption {}
.galleryCaptionInnerText {}
.fancybox-title {}
.wslide-caption-text {}
.wsite-phone {}
.wsite-headline {}
.wsite-headline-paragraph {}
.wsite-button-inner {}
.wsite-not-footer blockquote, #wsite-com-product-tab blockquote {}
.wsite-footer blockquote {}
.blog-header h2 a {}
#wsite-content h2.wsite-product-title {}
.wsite-product .wsite-product-price a {}
</style>
<style>
.wsite-background {background-image: url('http://cdn1.editmysite.com/uploads/4/2/2/5/42253479/background-images/160676470.jpg') !important;background-repeat: no-repeat !important;background-position: 50% 50% !important;background-size: cover !important;background-color: transparent !important;background: inherit;}
body.wsite-background {background-attachment: fixed !important;}
</style>
<script><!--
var STATIC_BASE = 'http://cdn1.editmysite.com/';
var STYLE_PREFIX = 'wsite';
//-->
</script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script src='http://cdn2.editmysite.com/js/site/main.js?buildTime=1425493634'></script>
<script type="text/javascript">_W.configDomain = "www.weebly.com";</script><script>_W.relinquish && _W.relinquish()</script>
<script type='text/javascript'><!--
(function(jQuery){
function initFlyouts(){initPublishedFlyoutMenus([{"id":"605026515646771379","title":"Home","url":"index.html","target":""},{"id":"678298425929453899","title":"Sign Up","url":"sign-up.html","target":""},{"id":"595191845549488940","title":"About","url":"about.html","target":""},{"id":"631106455335667664","title":"Contact","url":"contact.html","target":""}],"605026515646771379","<li><a href=\"#\" data-membership-required=\"\" >{{title}}<\/a><\/li>",'active',false)}
if (jQuery) {
jQuery(document).ready(function() { jQuery(initFlyouts); });
}else{
if (Prototype.Browser.IE) window.onload = initFlyouts;
else document.observe('dom:loaded', initFlyouts);
}
})(window._W && _W.jQuery)
//-->
</script>
</head>
<body class='landing-page  wsite-theme-dark wsite-page-index'>
<div class="page-container">
  <div class="page-sidebar-wrapper">
      <div class="page-sidebar">
        <div id="navhidden" class="nav">
          <ul class='wsite-menu-default'>
            <li id="active"><a href="index.html">Home</a></li>
            <li id='pg678298425929453899'><a href="sign-up.html" data-membership-required="0" >Sign Up</a></li>
            <li id='pg678298425929453899'><a href="log-in.html" data-membership-required="0" >Log In</a></li>
            <li id='pg595191845549488940'><a href="about.html" data-membership-required="0" >About</a></li>
            <li id='pg631106455335667664'><a href="contact.html" data-membership-required="0" >Contact</a></li>
          </ul></div>
        <div id="nav" class="nav"></div>
    </div>
    </div><!-- end page-sidebar-wrapper -->
    <input type="checkbox" id="nav-trigger" class="nav-trigger">
    <div class="page-content-wrapper">
        <div id="header-wrap">
          <div class="container">
            <table id="header">
              <tr>
                <td id="nav-handle"><label for="nav-trigger"></label></td>
                <td id="logo"><span class='wsite-logo'><a href='index.html'><span id="wsite-title">Ryde</span></a></span></td>
                <td id="search"><span class="search-icon"></span></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="page-content">
        <div id="banner-wrap" class="wsite-background wsite-custom-background">
           <div class="container">
            <div id="banner">
              <h2><span class='wsite-text wsite-headline'><font color="#ba6d6d" style="font-weight: normal;">Need<span id="selectionBoundary_1417415647207_8451115197967738" class="rangySelectionBoundary" style="line-height: 0; display: none;">﻿</span> a Ryde?</font></span></h2>
              <p><span class='wsite-text wsite-headline-paragraph'>YOUR BIKE, WHENEVER YOU WANT IT</span></p>
              <div style="text-align:left;"><div style="height: 0px; overflow: hidden;"></div>
<a class="wsite-button wsite-button-large wsite-button-highlight" href="sign-up.html" >
<span class="wsite-button-inner">SIgn up</span>
</a>
<div style="height: 0px; overflow: hidden;"></div></div>
            </div>
          </div>
        </div>
        <div id="main-wrap"><div class="container"><div id='wsite-content' class='wsite-elements wsite-not-footer'>
<h2 class="wsite-content-title" style="text-align:center;">VISIOn</h2>

<div class="paragraph" style="text-align:center;"><span style=""><span style="">Ryde aims to create a simple and unique bike sharing service specifically designed for college campuses and its students that will promote both student innovation and campus connectivity.&nbsp;</span><br /></span></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:15px;padding-bottom:15px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="assets/images/weebly/4/2/2/5/42253479/4474132_orig.jpg" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
  <table class="wsite-multicol-table">
    <tbody class="wsite-multicol-tbody">
      <tr class="wsite-multicol-tr">
        <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
          
            

<h2 class="wsite-content-title" style="text-align:center;">Accessible</h2>

<div class="paragraph" style="text-align:center;">The beauty of Ryde lies in its unrestricted access to its users. At host universities, Ryde bikes are located throughout campus and can be easily rented using the accompanying Ryde application. With rentals costing less than a quarter, Ryde is the best way to travel.&nbsp;</div>


          
        </td>       <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
          
            

<h2 class="wsite-content-title" style="text-align:center;">Advanced</h2>

<div class="paragraph" style="text-align:center;">Ryde prides itself on the forward technology and thinking of its service. All Ryde bikes are equipped with advanced GPS tracked technology that allows users to rent and park the bicycles anywhere instead of needlessly wasting time searching for an open docking station.</div>


          
        </td>       <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
          
            

<h2 class="wsite-content-title" style="text-align:center;">connected</h2>

<div class="paragraph" style="text-align:center;">More than the service, Ryde is a community built by students. The Ryde team consists of university students and only recruits from that pool. The same people using our service can be the same people building it as well. This way, Ryde hopes to create a community of motivated and enthusiastic individuals within the collegiate environment.</div>


          
        </td>     </tr>
    </tbody>
  </table>
</div></div></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:15px;padding-bottom:15px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="assets/images/weebly/4/2/2/5/42253479/9901408_orig.jpg" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<h2 class="wsite-content-title" style="text-align:center;">tHe app</h2>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
  <table class="wsite-multicol-table">
    <tbody class="wsite-multicol-tbody">
      <tr class="wsite-multicol-tr">
        <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
          
            

<div class="wsite-spacer" style="height:50px;"></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="assets/images/weebly/4/2/2/5/42253479/21032838c19.png?263" alt="Picture" style="width:263;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>


          
        </td>       <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
          
            

<div class="wsite-spacer" style="height:50px;"></div>

<div><div class="wsite-image wsite-image-border-border-width:0 " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="assets/images/weebly/4/2/2/5/42253479/1422651562.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>


          
        </td>       <td class="wsite-multicol-col" style="width:33.333333333333%; padding:0 15px;">
          
            

<div class="wsite-spacer" style="height:50px;"></div>

<div><div class="wsite-image wsite-image-border-border-width:0 " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
<a>
<img src="assets/images/weebly/4/2/2/5/42253479/1422651574.png" alt="Picture" style="width:auto;max-width:100%" />
</a>
<div style="display:block;font-size:90%"></div>
</div></div>


          
        </td>     </tr>
    </tbody>
  </table>
</div></div></div></div>
</div></div>
<div id="footer-wrap"><div class="container"><div class='wsite-elements wsite-footer'>
<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
  <table class="wsite-multicol-table">
    <tbody class="wsite-multicol-tbody">
      <tr class="wsite-multicol-tr">
        <td class="wsite-multicol-col" style="width:33.353010625738%; padding:0 15px;">
          <div style="text-align:left;"><div style="height:0px;overflow:hidden"></div>
          <span class="wsite-social wsite-social-default"><a class='first-child wsite-social-item wsite-social-facebook' href='https://www.facebook.com/pages/Ryde/291839154345116' target='_blank'><span class='wsite-social-item-inner'></span></a><a class='wsite-social-item wsite-social-twitter' href='https://twitter.com/RydeBikes' target='_blank'><span class='wsite-social-item-inner'></span></a><a class='last-child wsite-social-item wsite-social-mail' href='mailto:info@rydebikes.com' target='_blank'><span class='wsite-social-item-inner'></span></a></span>
          <div style="height:0px;overflow:hidden"></div></div>  
        </td>       
        <td class="wsite-multicol-col" style="width:33.293978748524%; padding:0 15px;">
          <h2 class="wsite-content-title" style="text-align:center;"><a href="index.html"><font color="#d5d5d5">HOME</font></a><font color="#d5d5d5"> &nbsp;- &nbsp;</font><a href="sign-up.html" style="color: rgb(213, 213, 213);">JOIN</a><font color="#d5d5d5"> &nbsp;- &nbsp;</font><a href="about.html" style="color: rgb(213, 213, 213);">ABOUT</a><font color="#d5d5d5"> &nbsp;- &nbsp;</font><a href="contact.html"><font color="#d5d5d5">CONTACT</font></a><font color="#91e05c">&nbsp;</font></h2>
        </td>
        <td class="wsite-multicol-col" style="width:33.353010625738%; padding:0 15px;">
          <div class="paragraph" style="text-align:right;">&copy; Ryde 2015, All Rights Reserved</div>
        </td></tr>
    </tbody>
  </table>
</div></div></div></div></div></div>
       </div>
    </div><!-- end page-content-wrapper -->
</div><!-- end page-container -->

  <!-- JavaScript -->
<script type="text/javascript" src="assets/javascripts/weebly/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="assets/javascripts/weebly/mobile.js" ></script>
<script language="javascript" src="assets/javascripts/weebly/custom.js"></script> 
