<p id="connect">
	<% if !signed_in? %>
		<%= link_to "Sign up", new_user_registration_path, class: "signup-devise" %>
		<%= link_to "Sign in", new_user_session_path, class: "signin-devise" %>
		<a class="signin-fb" href="#">Sign in with facebook</a>
	<% else %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "signout" %>
	<% end %>
</p>


<div class="container-fluid" ng-app="ryde">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="name">Hello, {{name}}</h1>
    </div>
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
        </div>
      </form>
    </div>
  </div>
</div>