<% if notice %>
  <p id="header-alert-success" class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p id="header-alert-danger" class="alert alert-danger"><%= alert %></p>
<% end %>